<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #registroForm="ngForm" (ngSubmit)="registro()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombreInput" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="correoInput" name="correo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="passwordInput" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Registrar</ion-button>
  </form>
</ion-content>
